@model Dogo.Models.DogModel

@{
    ViewData["Title"] = "AddDog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index" class="form-horizontal">
    <div class="form-group">
        <label class="control-label">DogID</label>
        <input asp-for="DogID" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Weight</label>
        <input asp-for="Weight" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Color</label>
        <input asp-for="Color" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Race</label>
        <input asp-for="Race" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">BdDate</label>
        <input asp-for="BdDate" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
@{ 
    if (@TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
        </script>
    }
}
